<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.opsc_1">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Jone&apos;s Locker"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OPSC_1">
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".AddCollection"
            android:exported="true"></activity>
        <activity
            android:name=".AddItem"
            android:exported="true"></activity>
        <activity
            android:name=".AddItemDetails"
            android:exported="true"></activity>
        <activity
            android:name=".AddPhoto"
            android:exported="true"></activity>
        <activity
            android:name=".Collection"
            android:exported="true"></activity>
        <activity
            android:name=".Goal"
            android:exported="true"></activity>
        <activity
            android:name=".Graph"
            android:exported="true"></activity>
        <activity
            android:name=".ItemDetailsDescription"
            android:exported="true"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
        <activity
            android:name=".Medal"
            android:exported="true"></activity>
        <activity
            android:name=".Profile"
            android:exported="true"></activity>
        <activity
            android:name=".sortListviewCollection"
            android:exported="true"></activity>
        <activity
            android:name=".sortListviewItem"
            android:exported="true"></activity>
        <activity
            android:name=".Registration"
            android:exported="true"></activity>
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>